.homePage {
  grid-area: main;
  padding-inline: 1rem;
}

.titlePage {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.noteIcon {
  display: block;
  margin: 2rem auto;
  font-size: 5rem;
}